
//mobile first
 //para xs 

.contenido{
    padding-top: 80px;
    margin-bottom: 30px;
}
.contenedor-1{
    width: 100%;
    padding-left:30px;
    padding-right: 30px;
    
}
.contenedor-2{
    display: none;
}

.noticia{
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    cursor: pointer;

    &__cuerpo{
        height: 400px;
       width: 800px auto;
    }
     &__cuerpo img {
    width: 100%;
    height: 100%;
}
}
//para sm
@include respond-to($bp-md){
    
    .contenido{
        padding-top: 80px;
        margin-bottom: 30px;
    }
    .contenedor-1{
        width: 100%;
        padding-left:30px;
        padding-right: 30px;
        margin-bottom: 10px;
    }
    .fila1{
        margin-bottom: 20px;
    }
    .fila2{
        padding-bottom: 20px;
    }
    .contenedor-2{
        display: none;
    }
    
    
    }

//para md
@include respond-to($bp-lg){
    
.contenido{
    padding-top: 80px;
    margin-bottom: 30px;
}
.contenedor-1{
    width: 100%;
    padding-left:30px;
    padding-right: 30px;
    margin-bottom: 10px;
}
.fila1{
    margin-bottom: 20px;
}
.fila2{
    padding-bottom: 20px;
}
.contenedor-2{
    display: none;
}


}
 //para lg +
@include respond-to($bp-xl){

.contenedor-1{
    float: left;
    width: 75%;
    padding-left:30px;
    padding-right: 30px;

}
.fila1{
    margin-bottom: 20px;
}
.fila2{
    margin-bottom: 20px;
}

.contenedor-2{
    display: inline-block;
    width: 25%;
    padding-right: 15px;
    
}
.cabecera-listado {
    width: 220px;
    border-bottom: 1px solid gray;
}

.tags{
    border-bottom: 1px solid gray;

    &__lista{
        padding: 0;
        list-style: none;
    }

    &__item{
    display: inline-block;
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
    }
}
.destacadas{
    margin-bottom: 50px;

    &__image{
        display:block;
        margin: auto;
    }
}
}
